PORT=8080
DB_URL=postgresql://user:password@localhost/dbname
TEST_DB_URL=postgresql://user:password@localhost/dbname
JWT_SECRET=sample_secret
JWT_EXPIRY=168 # 7 days
NOT_FOUND_PAGE=http://localhost:5173/not-found
BACKEND_PUBLIC_URL=http://localhost:8080
FRONTEND_REDIRECT_URL=http://localhost:5173/auth/callback
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret
SENTRY_DSN=
